@media (max-width: 1300px) {

    .container {
        max-width: 90vw;
    }

    .header {
        &__list {
            display: none;
        }

        &__action {
            display: none;
        }


        &__popup-button {
            top       : 50%;
            transform : translateY(-50%);
            right     : rem(30);
            transition: all 0.5s ease-in-out;
        }
    }

    .hero {
        &__inner {}

        &__title {
            font-size  : 3rem;
            line-height: 1;
        }


        &__desc {}


        &__actions {
            .actions {
                &__contact-button {
                    font-size: 0.75rem;
                }


                &__about-button {
                    font-size: 0.75rem;

                }
            }
        }


        &__left {}


        &__image {

        }


        &__right {
            display        : flex;
            align-items    : center;
            justify-content: center;
        }



    }


    .logos {
        &__inner {
            flex-wrap: wrap;

            .logos {
                &__logo {
                    flex: 0 1 auto;
                }
            }
        }
    }
}



@media (max-width: 900px) {
    .hero {
        &__title {
            padding: 0px 0px 0px 0px;
        }
        &__inner {
            flex-direction: column;
        }


        &__left {
            order: 2;
        }

        &__right {
            order: 1;

        }

        &__image {
            width: 70%;
        }

    }


    .about {
        padding: rem(50) 0px rem(80) 0px;

        &__inner {
            grid-gap: 7.5%;
        }
        &__left {
            .left {
                &__image {
                }
            }
        }


        &__right {
            .right {
                &__title {
                    margin: 0px;
                }
            }

        }
    }



    @media (max-width: 480px) {
        :root {
            --header-height: 80; 
        }

        .container {
            max-width: 95vw;
        }

        .logos {
            height: 15rem;
        }

        .hero {
            &__title {
                font-size  : 2.2rem;
                line-height: 1.5;
                padding    : rem(0) 0px 0px 0px;
            }

            &__actions {
                padding: 0px 0px rem(50) 0px;
            }

            &__image {
            }


            &__review {
                padding: 0px 0px rem(30) 0px;
            }
        }
    }



    @media (max-width: 370px) {
        .hero {
            &__title {
                font-size  : 1.9rem;
                line-height: 1.5;
                padding    : 0px 0px 0px 0px;
            }


            &__desc {
                font-size  : 0.8rem;
                line-height: 1.5;

            }


            .hero__actions {
                padding: 0px 0px 3.5rem 0px;
            }

            .actions {

                &__about-button {
                    font-size: 0.5rem;
                }


                &__contact-button {
                    font-size: 0.5rem;
                }
            }

            .hero__review {
                gap: 0.75rem;
            }

            .review {
                &__text {
                    font-size  : 0.75rem;
                    line-height: 1.5;
                }

                &__author {
                    font-size  : 0.75rem;
                    line-height: 1.5;
                }


                &__avatar {
                    width: rem(30);
                }
            }
        }
    }
}