@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


:root {
    --header-height   : 100;
    --container-width: 1140;
    --container-pd: 15; 



    --body-color      : #FDF0E9;
    --accent-color    : #EF6C57;
    --text-color      : white;
    --text-sub-color  : #B2B2BA;
    --text-accent-color: #EF6C57; 


/*========== Font and typography ==========*/
    --body-font: 'Montserrat'; 
    --normal-font-size: 1rem; 

    // Font weight
    --font-medium   : 500;
    --font-semi-bold: 600;
    --font-black    : 900;



/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed  : 100;



}
